.ourValues {
  // padding: 3.5rem 0rem;
  padding-top: 3.5rem;
  padding-bottom: 4.125rem;
  & > header {
    & > h1 {
      margin-top: 0.3125rem;
      margin-bottom: 0.875rem;
    }
  }

  & > section {
    margin-top: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    @media only screen and (max-width: 500px) {
      gap: 0.5rem;
    }
    & > div {
      flex: 1 1 calc(50% - 1rem);
      border-radius: 0.5rem;
      padding: 1rem;
      @media only screen and (max-width: 500px) {
        flex: 1 1 calc(50% - 0.5rem);
      }
      & > * {
        &:first-child {
          margin-bottom: 0.4375rem;
        }
      }
    }

    & > * {
      &:nth-child(1),
      &:nth-child(2) {
        background-color: var(--color-page);
      }
      &:nth-child(3),
      &:nth-child(4) {
        background-color: var(--color-band);
      }
    }
  }
}
