.accordion {
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-color: var(--color-page);
  & > header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
    & > div {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
    & > blockquote {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: 50%;
    }
  }
  & > section {
    margin-top: 0.625rem;
    padding: 0rem 2.75rem;
  }
}
