@use "../../globels" as color;

button {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-family: "Poppins";
}

.btn {
  &_primary {
    font-size: 1.4rem;
    color: white;
    font-weight: 500;
    padding: 1.45rem 3.45rem;
    border: 1px solid color.$primary;
    border-radius: 0.8rem;
    background-color: color.$primary;
    line-height: 2.2rem;
  }
  &_primary-full {
    display: block;
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    padding: 1.45rem 3.45rem;
    border: 1px solid color.$primary;
    border-radius: 0.8rem;
    background-color: color.$primary;
    line-height: 2.2rem;
    width: 100%;
  }
  &_secondry-full {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.45rem 3.45rem;
    border-radius: 0.8rem;
    width: 100%;
    line-height: 2.2rem;
  }
}
