@use "../../globels/" as breakPoint;

.heading_ {
  &hero {
    font-weight: 800;
    font-size: 5.6rem;
    line-height: 4.8rem;
    @media only screen and (max-width: 850px) {
      font-size: 4rem;
      line-height: 3.8rem;
    }
    @media only screen and (max-width: 700px) {
      font-size: 3.7rem;
      line-height: 3.3rem;
    }
    @include breakPoint.respond(mobile) {
      line-height: 3.6rem;
    }
  }
  &primary {
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.2rem;
    @media only screen and (max-width: 850px) {
      font-size: 3.4rem;
      line-height: 3.5rem;
    }
    @media only screen and (max-width: 700px) {
      font-size: 3.2rem;
      line-height: 3.2rem;
    }
  }
  &secondry {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 2.4rem;
  }
  &secondry--boldLight {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.4rem;
  }
  &secondry--semibold {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 2.4rem;
  }
  &secondry--light {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  &tertiary {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 3.5rem;
  }
  &tertiary--medium {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 3.5rem;
  }
  &tertiary--light {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 3.5rem;
  }

  &ImportanceCardheading {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 4.808rem;
  }
  &small {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2rem;
  }
  &large {
    font-size: 9.17rem;
    font-weight: 800;
    line-height: 7.514rem;
  }
}
