@use "../../globels" as color;

.web3marketingCard {
  padding: 1.5rem;
  border-radius: 0.75rem;
  text-align: center;

  & > img {
    border-radius: 0.625rem;
    max-width: 100%;
  }
  & > h6 {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    & > span {
      color: color.$primary;
    }
  }
}
