@keyframes scrollX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes animate {
  0% {
    clip-path: polygon(
      0% 50%,
      12% 60%,
      25% 70%,
      40% 80%,
      55% 85%,
      70% 75%,
      85% 65%,
      100% 55%,
      100% 100%,
      0% 100%
    );
  }

  10% {
    clip-path: polygon(
      0% 55%,
      10% 68%,
      28% 75%,
      43% 78%,
      60% 82%,
      73% 70%,
      88% 60%,
      100% 58%,
      100% 100%,
      0% 100%
    );
  }

  25% {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }

  50% {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  }

  75% {
    clip-path: polygon(57% 67%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }

  90% {
    clip-path: polygon(25% 0%, 100% 1%, 45% 43%, 25% 100%, 0% 50%);
  }

  100% {
    clip-path: polygon(
      0% 50%,
      12% 60%,
      25% 70%,
      40% 80%,
      55% 85%,
      70% 75%,
      85% 65%,
      100% 55%,
      100% 100%,
      0% 100%
    );
  }
}
