@use "../globels" as color;

.bg_primary {
  background-color: color.$primary;
}

.bg_tertiary {
  background-color: color.$tertiary;
}

.bg_tertiary--dark {
  background-color: color.$tertiary--dark;
}
