.heroSingleBlogPage {
  padding-top: 4.1875rem;
  margin-bottom: 3.5rem;

  & > img {
    width: 100%;
    margin-bottom: 0.9375rem;

    @media only screen and (max-width: 700px) {
      height: 260px;
    }
  }
  & > section {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }

    & > div {
      display: flex;
      align-items: center;
      & > p {
        font-size: 0.875rem;
        font-weight: 500;
      }
      & > img {
        margin: 0rem 0.625rem;
      }
    }

    & > * {
      &:first-child {
        border-right: 1px solid var(--color-ink);
        padding-right: 0.5rem;
        margin-right: 0.5rem;

        @media only screen and (max-width: 600px) {
          border: none;
          padding-right: 0rem;
          margin-right: 0rem;
        }
      }
    }
  }
}
