.singleBlogContent {
  display: flex;
  gap: 3.6rem;
  padding-bottom: 6rem;
  @media only screen and (max-width: 960px) {
    gap: 2rem;
  }

  @media only screen and (max-width: 850px) {
    flex-direction: column-reverse;
  }

  & > div {
    max-width: 750px;
    flex-shrink: 0;
    @media only screen and (max-width: 1300px) {
      max-width: 650px;
    }
    @media only screen and (max-width: 1060px) {
      max-width: 580px;
    }
    @media only screen and (max-width: 960px) {
      max-width: 57%;
    }
    @media only screen and (max-width: 850px) {
      max-width: 100%;
    }
    & > header {
      margin-bottom: 2.4rem;
      & > h1 {
        margin-bottom: 2.4rem;
      }
    }
    & > section {
      & > div {
        & > h1 {
          margin-bottom: 1.6rem;
        }
      }
      & > * {
        &:not(:first-child) {
          padding-top: 2.4rem;
        }
      }
    }
  }

  & > section {
    width: 100%;

    & > div {
      & > div {
        padding: 2.5rem 2.5rem;
        border-radius: 0.8rem;
        @media only screen and (max-width: 800px) {
          padding: 2rem;
        }

        & > header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          & > h2 {
            font-size: 1.8rem;
            color: white;
          }

          & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            & > * {
              font-size: 1.6rem;
              color: white;
            }
          }
        }

        & > div {
          & > ul {
            list-style: none;
            padding-top: 2rem;
            & > li {
              font-size: 1.6rem;
              font-weight: 400;
              color: white;
              & > a {
                color: white;
              }
            }
            & > * {
              &:not(:last-child) {
                margin-bottom: 1.2rem;
              }
            }
          }
        }
      }
      & > section {
        margin-top: 2.6rem;
        display: flex;
        align-items: center;

        gap: 1rem;
        & > h3 {
          font-size: 2rem;
          font-weight: 500;
        }
      }
    }
  }
}
