.importance {
  padding-top: 2.4rem;
  & > center {
    text-align: center;
    margin-bottom: 10rem;
  }

  & > section {
    display: flex;
    gap: 2.6rem;
    flex-wrap: wrap;
    & > div {
      flex: 1 1 calc(33.3% - 2.6rem);
      display: flex;
      border-top-left-radius: 1.3rem;
      padding: 1rem;
      & > img {
        background-color: green;
      }
      & > section {
        z-index: 100;
        & > p {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
