.importance {
  padding-top: 1.5rem;
  max-width: 1060px;
  & > center {
    text-align: center;
    margin-bottom: 6.25rem;
  }

  & > section {
    display: flex;
    gap: 2.875rem;
    flex-wrap: wrap;
    justify-content: space-between;
    @media only screen and (max-width: 1317px) {
      justify-content: center;
      gap: 7.5rem;
      padding-bottom: 3.75rem;
    }
    @media only screen and (max-width: 1017px) {
      gap: 6.25rem;
    }
    @media only screen and (max-width: 630px) {
      gap: 1.25rem;
    }
    & > div {
      flex: 1 1 calc(33.3% - 2.875rem);
      max-width: calc(28.3% - 2.875rem);
      @media only screen and (max-width: 1317px) {
        flex: 1 1 calc(42.3% - 7.5rem);
        max-width: calc(37.3% - 7.5rem);
      }
      @media only screen and (max-width: 1017px) {
        flex: 1 1 calc(86.3% - 6.25rem);
        max-width: calc(86.3% - 6.25rem);
      }
      @media only screen and (max-width: 630px) {
        flex: 1 1 calc(100% - 1.25rem);
        max-width: calc(100% - 1.25rem);
      }
      & > div {
        border-top-left-radius: 0.8125rem;
        padding-left: 0.625rem;
        padding-top: 0.625rem;
        height: 270px;
        overflow: visible;
        display: flex;
        position: relative;
        padding-right: -8.125rem;
        background: linear-gradient(180deg, var(--color-brand) 0%, var(--color-panel-a) 100%);
        @media only screen and (max-width: 1317px) {
          border-bottom-left-radius: 0.8125rem;
          padding-bottom: 0.625rem;
        }
        @media only screen and (max-width: 1017px) {
          border-radius: 0.625rem;
        }
        @media only screen and (max-width: 630px) {
          padding: 0.625rem;
        }
        & > img {
          position: absolute;
          right: -7.5rem;
          top: -2.5625rem;
          @media only screen and (max-width: 1317px) {
            right: -8.125rem;
          }
          @media only screen and (max-width: 1200px) {
            // top: -9.625rem;
            right: -7.1875rem;
          }
          @media only screen and (max-width: 1017px) {
            right: -4.0625rem;
          }
          @media only screen and (max-width: 630px) {
            display: none;
          }
        }
        & > section {
          z-index: 100;
          display: flex;
          align-items: start;
          justify-content: space-between;
          flex-direction: column;
          height: 100%;
          & > p {
            width: 70%;
            @media only screen and (max-width: 630px) {
              width: 100%;
            }
          }
          & > blockquote {
            & > p {
              margin-top: -6.875rem;
            }
            & > div {
              position: relative;
              & > h1 {
                position: absolute;
                z-index: 100;
                font-weight: 800;
              }

              & > * {
                &:nth-child(1) {
                  color: transparent;
                  -webkit-text-stroke: 0.5px var(--color-page);
                }
                &:nth-child(2) {
                  color: var(--color-page);
                  -webkit-text-stroke: 0.5px var(--color-page);
                  animation: animate 8s ease-in-out infinite;
                }
              }
            }
          }
        }
      }
    }
  }
}
