.servicesSection {
  margin: 1.875rem 0rem;
  & > header {
    padding: 2rem 0rem;
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    position: sticky;
    top: 0rem;
    z-index: 2;
    @media only screen and (max-width: 960px) {
      flex-direction: column;
    }
    @media only screen and (max-width: 800px) {
      position: relative;
    }

    & > h1 {
      max-width: 29rem;
    }

    & > div {
      max-width: 36.625rem;
      @media only screen and (max-width: 1067px) {
        max-width: 30rem;
      }
      @media only screen and (max-width: 960px) {
        max-width: 100%;
      }
      & > h1 {
        width: 16.9375rem;
        margin-bottom: 1rem;
      }
    }
  }

  & > section {
    & > * {
      &:nth-child(odd) {
        background-color: var(--color-band);
      }
      &:nth-child(even) {
        background-color: var(--color-page);
      }
    }
  }
}
