.servicesHero {
  display: flex;
  align-items: center;
  gap: 5.6rem;
  padding: 7rem 0rem;

  & > div {
    & > p {
      padding: 2.4rem 0rem;
    }
    & > div {
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }
  }
}
