$primary: rgba(179, 6, 60, 1);

$secondry: rgba(38, 38, 38, 1);
$secondry--light: rgba(31, 33, 35, 1);

$tertiary: rgba(240, 233, 228, 1);
$tertiary--dark: rgba(223, 210, 201, 1);

$gray: rgba(136, 136, 136, 1);
