.goalAndProposedSection {
  padding-top: 3.75rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: start;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  gap: 1.25rem;
  @media only screen and (max-width: 850px) {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  @media only screen and (max-width: 750px) {
    flex-direction: column;
  }
  & > section {
    width: 50%;
    @media only screen and (max-width: 750px) {
      width: 100%;
    }
    & > h1 {
      margin-bottom: 1.25rem;
    }
  }
}
