.heroSingleIndustriesPage {
  position: relative;
  & > img {
    position: absolute;
    width: 100%;
    height: 720px;
    z-index: -10;
    @media only screen and (max-width: 550px) {
      height: 800px;
    }
  }
  & > div {
    & > section {
      & > section {
        padding-top: 3.625rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: 750px) {
          flex-direction: column;
        }
        & > div {
          background-color: var(--color-band);
          padding-top: 2.1875rem;
          padding-left: 3.625rem;
          padding-bottom: 2.1875rem;
          padding-right: 18.75rem;
          max-width: 891px;
          @media only screen and (max-width: 950px) {
            padding-right: 15.625rem;
          }
          @media only screen and (max-width: 800px) {
            padding-left: 1.75rem;
            padding-top: 1.25rem;
          }
          @media only screen and (max-width: 750px) {
            padding-top: 1.25rem;
            padding-left: 0.9375rem;
            padding-right: 0.9375rem;
            padding-bottom: 12.5rem;
          }
          & > img {
            @media only screen and (max-width: 950px) {
              height: 50px;
              width: 160px;
            }
          }
          & > section {
            & > h1 {
              margin: 1.5rem 0rem;
              font-weight: 600;
              font-size: 2.25rem;
              @media only screen and (max-width: 950px) {
                font-size: 1.875rem;
              }
              @media only screen and (max-width: 800px) {
                margin: 0.875rem 0rem;
              }
            }
            & > p {
              font-size: 0.875rem;
            }
          }
        }

        & > img {
          margin-left: -12.5rem;
          @media only screen and (max-width: 1050px) {
            height: 230px;
            width: 400px;
          }
          @media only screen and (max-width: 750px) {
            margin-left: 0rem;
            margin-top: -9.375rem;
          }
          @media only screen and (max-width: 550px) {
            margin-top: -10.625rem;
          }
          @media only screen and (max-width: 450px) {
            width: 90%;
            height: auto;
          }
        }
      }
      & > blockquote {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        padding-top: 1.5625rem;
        padding-bottom: 1.875rem;
        @media only screen and (max-width: 550px) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }
}
