@use "../../../globels" as color;

.storiesDataDisplay {
  margin: 2rem 0rem;
  & > header {
    margin-bottom: 2rem;

    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    padding-bottom: 0.3125rem;
    &::-webkit-scrollbar {
      width: 0.4375rem;
      height: 0.375rem;
    }
    &::-webkit-scrollbar-track {
      margin-bottom: 1.25rem;
      background-color: color.$gray;
      border-radius: 0.625rem;
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      background: color.$primary;
      border-radius: 0.625rem;
      cursor: grabbing;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: color.$primary;
      border-radius: 0.625rem;
    }
    & > div {
      width: 1140px;
      display: flex;
      align-items: center;
      gap: 0.625rem;
      & > button {
        font-size: 0.75rem;
        font-weight: 400;
        border: 1px solid rgba(199, 199, 199, 1);
        border-radius: 0.3125rem;
        padding: 0.75rem 2.4375rem;
        border: none;
      }
    }
  }
  & > section {
    & > * {
      &:not(:last-child) {
        margin-bottom: 1.25rem;
      }
    }
  }
}
