.dynamicMarket {
  //   --mask:
  //   radial-gradient(282.46px at 50% 399px,#000 99%,#0000 101%) calc(50% - 380px) 0/760px 100%,
  //   radial-gradient(282.46px at 50% -209px,#0000 99%,#000 101%) 50% 190px/760px 100% repeat-x;
  // -webkit-mask: var(--mask);
  //         mask: var(--mask);

  // margin-top: -20rem;
  // z-index: 1000;
  padding-top: 20rem;
  padding-bottom: 3.2rem;

  & > div {
    & > header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5.6rem;

      & > p {
        width: 52.96rem;
      }
    }

    & > section {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      & > div {
        flex: 1 1 calc(33.3% - 3rem);
      }
    }
  }
}
