// .engagementStalls {
//   display: flex;
//   padding-top: 2rem;
//   gap: 2.5rem;
//   position: relative;
//   @media only screen and (max-width: 900px) {
//     gap: 0.8125rem;
//   }

//   @media only screen and (max-width: 700px) {
//     flex-direction: column;
//     gap: 1.25rem;
//   }

//   & > header {
//     & > div {
//       max-width: 306px;
//       @media only screen and (max-width: 600px) {
//         max-width: 100%;
//       }
//       & > * {
//         &:first-child {
//           margin-bottom: 0.5625rem;
//         }
//       }
//       & > p {
//         margin-top: 2rem;
//         @media only screen and (max-width: 700px) {
//           margin-top: 0.9375rem;
//         }
//       }
//     }
//   }
//   & > section {
//     border-radius: 2rem;
//     max-width: 802px;
//     padding-top: 2.5rem;
//     padding-left: 2rem;
//     padding-right: 2rem;
//     // padding-bottom: 46.875rem;
//     margin-bottom: 0.625rem;
//     display: flex;
//     align-items: start;
//     height: 100vh;
//     gap: 3.125rem;
//     @media only screen and (max-width: 1200px) {
//       padding-bottom: 46.875rem;
//       margin-bottom: 3.125rem;
//       gap: 1.875rem;
//     }
//     @media only screen and (max-width: 900px) {
//       padding-left: 1rem;
//       padding-right: 1rem;
//       padding-top: 1.25rem;
//       gap: 0.9375rem;
//     }
//     @media only screen and (max-width: 600px) {
//       height: auto;
//       padding-bottom: 10rem;
//     }
//     & > section {
//       display: none;
//     }

//     & > * {
//       & > * {
//         &:not(:last-child) {
//           margin-bottom: 2.375rem;
//           @media only screen and (max-width: 530px) {
//             margin-bottom: 0.625rem;
//           }
//         }
//       }
//     }

//     @media only screen and (max-width: 850px) {
//       gap: 1.25rem;
//       padding-left: 1.125rem;
//       padding-right: 1.125rem;
//       padding-top: 1.25rem;
//     }
//     @media only screen and (max-width: 600px) {
//       flex-direction: column;
//       & > section {
//         display: block;
//       }
//       & > blockquote {
//         display: none;
//       }
//       & > div {
//         display: none;
//       }
//     }
//   }
// }

.engagementStalls {
  display: flex;
  padding-top: 2rem;
  gap: 2.5rem;
  @media only screen and (max-width: 900px) {
    gap: 0.8125rem;
  }

  @media only screen and (max-width: 700px) {
    flex-direction: column;
    gap: 1.25rem;
  }

  & > div {
    max-width: 306px;
    @media only screen and (max-width: 600px) {
      max-width: 100%;
    }
    & > * {
      &:first-child {
        margin-bottom: 0.5625rem;
      }
    }
    & > p {
      margin-top: 2rem;
      @media only screen and (max-width: 700px) {
        margin-top: 0.9375rem;
      }
    }
  }
  & > section {
    border-radius: 2rem;
    max-width: 802px;
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 46.875rem;
    display: flex;
    align-items: start;
    gap: 3.125rem;
    @media only screen and (max-width: 1200px) {
      padding-bottom: 46.875rem;
      margin-bottom: 3.125rem;
      gap: 1.875rem;
    }
    @media only screen and (max-width: 900px) {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1.25rem;
      gap: 0.9375rem;
    }

    // @media only screen and (max-width: 530px) {
    //   padding-bottom: 43.75rem;
    // }
    @media only screen and (max-width: 600px) {
      height: auto;
      padding-bottom: 10rem;
    }

    & > * {
      & > * {
        &:not(:last-child) {
          margin-bottom: 2.375rem;
          @media only screen and (max-width: 530px) {
            margin-bottom: 0.625rem;
          }
        }
      }
    }
    & > section {
      display: none;
    }

    @media only screen and (max-width: 850px) {
      gap: 1.25rem;
      padding-left: 1.125rem;
      padding-right: 1.125rem;
      padding-top: 1.25rem;
    }
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      & > section {
        display: block;
      }
      & > blockquote {
        display: none;
      }
    }
  }
}
