@use "../../../globels" as color;

.growthSection {
  margin-top: 5.9rem;
  @media only screen and (max-width: 600px) {
    margin-top: 3rem;
  }
  // & > header {
  //   & > * {
  //     &:first-child {
  //       display: flex;
  //       align-items: center;
  //       gap: 1rem;
  //     }
  //   }

  //   & > div {
  //     margin-top: 2.4rem;
  //     border-radius: 0.8rem;
  //     padding: 2.4rem 3.2rem;
  //     display: flex;
  //     flex-wrap: wrap;
  //     gap: 11.5rem;
  //     @media only screen and (max-width: 850px) {
  //       gap: 6rem;
  //     }
  //     @media only screen and (max-width: 700px) {
  //       gap: 3.5rem;
  //     }
  //     @media only screen and (max-width: 600px) {
  //       gap: 2.5rem;
  //       padding: 1.4rem 2.2rem;
  //     }

  //     & > div {
  //       flex: 1 1 calc(25% - 11.5rem);
  //       @media only screen and (max-width: 600px) {
  //         flex: 1 1 calc(50% - 2.5rem);
  //       }
  //       & > h1 {
  //         margin-bottom: 0.7rem;
  //       }
  //     }
  //   }
  // }

  & > h1 {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & > section {
    margin-top: 0rem;
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // gap: 1rem;
      @media only screen and (max-width: 760px) {
        flex-direction: column;
      }

      & > header {
        position: relative;
        & > h1 {
          font-size: 14.5rem;
          color: color.$tertiary;
          line-height: 13.8rem;
          text-transform: uppercase;
          position: absolute;
          font-family: "Glory";
          font-weight: 900;
          top: -7rem;
          left: 0rem;
        }
        & > section {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 5.9rem;
          position: relative;
          margin-top: -10rem;
          padding: 0rem 3rem;
          & > div {
            flex: 1 1 calc(50% - 5.9rem);
            & > div {
              & > h1 {
                margin-bottom: -0.3rem;
              }
            }
            & > * {
              &:not(:last-child) {
                margin-bottom: 10.9rem;
              }
            }
          }
          & > * {
            &:last-child {
              margin-top: 19rem;
            }
          }
        }
      }

      & > div {
        & > img {
          margin-bottom: -1rem;
          @media only screen and (max-width: 978px) {
            max-width: 470px;
            height: auto;
          }
          @media only screen and (max-width: 550px) {
            max-width: 90%;
          }
        }
      }
    }
  }
}
