@use "../../../globels" as breakPoint;

.heroHome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.1rem;
  padding: 4rem 0rem;

  & > div {
    padding-top: 23rem;
    z-index: 1000;
    & > section {
      position: relative;
      max-width: 662px;
      height: 410px;
      margin-left: 12rem;
      & > img {
        position: absolute;
        transition: 0.3s ease-in-out;
      }

      &:hover {
        & > * {
          &:first-child {
            transform: rotate(-4deg);
          }
          &:nth-child(2) {
            transform: rotate(-7deg);
          }
          &:nth-child(3) {
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
          }
          &:nth-child(4) {
            transform: rotate(-7deg);
          }
          &:nth-child(5) {
            transform: rotate(7deg);
          }
        }
      }

      & > * {
        &:first-child {
          z-index: 1000 !important;
        }
        &:nth-child(2) {
          top: 4.5rem;
          left: -11rem;
          z-index: 80;
        }
        &:nth-child(3) {
          top: -6rem;
          left: 3rem;
        }
        &:nth-child(4) {
          left: 34rem;
          top: 16rem;
          z-index: 80;
        }
        &:nth-child(5) {
          left: 30rem;
          top: -22rem;
        }
      }
    }
  }

  // @media only screen and (max-width: 850px) {
  //   & > img {
  //     max-width: 52%;
  //     height: auto;
  //   }
  // }
  // @media only screen and (max-width: 1050px) {
  //   flex-direction: column;
  //   gap: 3rem;
  //   & > img {
  //     max-width: 85%;
  //     height: auto;
  //   }
  // }
  // @include breakPoint.respond(mobile) {
  //   & > img {
  //     max-width: 90%;
  //   }
  // }
  & > section {
    padding-top: 3.8rem;
    padding-bottom: 3.8rem;
    padding-right: 5.3rem;
    padding-left: 23rem;
    margin-left: -0rem;
    margin-bottom: -8.7rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;

    @media only screen and (max-width: 1325px) {
      padding-right: 3rem;
    }
    @media only screen and (max-width: 1200px) {
      margin-left: -24rem;
      margin-bottom: -15rem;
    }
    @media only screen and (max-width: 1150px) {
      margin-bottom: -12.5rem;
    }
    @media only screen and (max-width: 1080px) {
      margin-bottom: -10.5rem;
    }
    @media only screen and (max-width: 1050px) {
      margin-bottom: 0rem;
      padding-left: 5.3rem;
      padding-right: 5.3rem;
      margin-left: 0rem;
      width: auto;
      padding-top: 3.8rem;
      border-radius: 3rem;
    }
    @media only screen and (max-width: 500px) {
      padding: 3.5rem 4rem;
    }

    & > div {
      max-width: 38.2rem;
      @media only screen and (max-width: 1050px) {
        max-width: 400px;
      }
      @media only screen and (max-width: 1325px) {
        & > h1 {
          font-size: 4.8rem;
          line-height: 4.5rem;
        }
      }

      & > p {
        margin: 3.2rem 0rem;
        @media only screen and (max-width: 1325px) {
          margin: 2rem 0rem;
        }

        @media only screen and (max-width: 850px) {
          margin: 1.5rem 0rem;
        }
      }
    }
  }
}
