.rangeOfMarket {
  padding: 2.97rem 0rem;
  overflow-x: hidden;
  margin-top: 1rem;
  & > header,
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    animation: scrollX 30s linear infinite;
  }

  & > div {
    animation-direction: reverse;
    animation-delay: -3s;
  }

  & > center {
    margin-top: 10.2rem;
    margin-bottom: 13.7rem;
    & > h1 {
      margin-bottom: 1.6rem;
    }
    @media only screen and (max-width: 600px) {
      margin-top: 7.4rem;
    }
    @media only screen and (max-width: 600px) {
      margin-bottom: 10.7rem;
    }
  }
}
