.rangeOfMarket {
  padding: 1.85625rem 0rem;
  overflow-x: hidden;
  margin-top: 0.625rem;
  & > header,
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;
    animation: scrollX 30s linear infinite;
  }

  & > div {
    animation-direction: reverse;
    animation-delay: -3s;
  }

  & > center {
    margin-top: 6.375rem;
    margin-bottom: 8.5625rem;
    & > h1 {
      margin-bottom: 1rem;
    }
    @media only screen and (max-width: 600px) {
      margin-top: 4.625rem;
    }
    @media only screen and (max-width: 600px) {
      margin-bottom: 6.6875rem;
    }
  }
}
