@use "../../globels" as color;

.contentDisplaySection {
  display: flex;
  padding-top: 2rem;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 750px) {
    flex-direction: column;
  }
  & > header {
    max-width: 50.2rem;
    @media only screen and (max-width: 750px) {
      text-align: center;
      margin-bottom: 3rem;
    }
    & > h2 {
      margin-top: 1.6rem;
      margin-bottom: 3.2rem;
      @media only screen and (max-width: 750px) {
        margin-bottom: 1rem;
      }
      & > span {
        color: color.$primary;
      }
    }
  }
  & > section {
    max-width: 55.7rem;
    height: 40rem;
    overflow-y: hidden;
    overflow-y: scroll;
    padding-right: 0.5rem;
    @media only screen and (max-width: 750px) {
      height: auto;
      overflow-y: visible;
    }
    &::-webkit-scrollbar {
      width: 0.7rem;
    }
    &::-webkit-scrollbar-track {
      margin-bottom: 2rem;
      background-color: color.$gray;
      border-radius: 1rem;
    }
    &::-webkit-scrollbar-thumb {
      background: color.$primary;
      border-radius: 1rem;
      cursor: grabbing;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: color.$primary;
      border-radius: 1rem;
    }

    & > * {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
      &:last-child {
        margin-bottom: 2rem;
      }
      &:nth-child(odd) {
        background-color: rgba(240, 233, 228, 1);
      }
      &:nth-child(even) {
        background-color: white;
      }
    }
    & > div {
      padding: 1.6rem 3.2rem;
      border-radius: 1rem;

      & > * {
        &:first-child {
          max-width: 22rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
