@use "../../globels" as color;

.contactUsSection {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 3.25rem 0rem;
  @media only screen and (max-width: 960px) {
    flex-direction: column;
    gap: 0.625rem;
  }
  & > section {
    width: 65%;
    @media only screen and (max-width: 960px) {
      width: 100%;
    }

    & > h2 {
      margin-bottom: 1.25rem;
      & > span {
        color: color.$primary;
      }
    }
    & > p {
      margin-bottom: 1rem;
    }
    & > div {
      & > * {
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
      & > blockquote {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1.5rem;
        border-radius: 0.9375rem;
        @media only screen and (max-width: 650px) {
          gap: 1rem;
          padding: 0.875rem;
        }
        & > section {
          & > svg {
            height: 1.5rem;
            width: 1.65625rem;
          }
        }
        & > div {
          & > h1 {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
  & > div {
    margin-top: 1.5rem;
    max-width: 40%;
    @media only screen and (max-width: 960px) {
      max-width: 800px;
      margin-top: 0.625rem;
    }
  }
}
