@use "../../globels" as color;

.questionAndAnswer {
  max-width: 40.625rem;
  margin: auto;
  padding: 2.625rem 1.25rem;

  & > h2 {
    & > span {
      color: color.$primary;
    }
  }
  & > p {
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
  }
}
