.trustedBrands {
  margin-top: 5.9rem;
  & > div {
    margin-bottom: 1.2rem;
  }
  & > section {
    padding: 1.2rem 0rem;
    & > div {
      display: flex;
      align-items: center;
      gap: 15.4rem;
      & > h1 {
        width: 19.9rem;
      }

      & > section {
        & > * {
          &:first-child {
            & > div {
              & > div {
                & > div {
                  margin-right: 5.6rem;
                }
              }
            }
          }
        }
        &:last-child {
          & > div {
            & > div {
              margin-right: 5.6rem;
            }
          }
        }
      }
    }
  }
}
