.trustedBrands {
  & > div {
    margin-bottom: 0.75rem;
    & > h1 {
      display: flex;
      align-items: center;
      gap: 0.625rem;
      margin-top: 3.6875rem;
    }
  }
  & > section {
    padding: 0.75rem 0rem;
    & > div {
      display: flex;
      align-items: center;
      gap: 9.375rem;
      @media only screen and (max-width: 850px) {
        gap: 6.25rem;
      }
      @media only screen and (max-width: 650px) {
        gap: 3.75rem;
      }
      @media only screen and (max-width: 500px) {
        gap: 1.875rem;
      }
      & > h1 {
        width: 12.4375rem;
        z-index: 1000;
      }

      & > section {
        max-width: 1000px;
        overflow: hidden;
        & > div {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 3.125rem;
          animation: scrollX 40s linear infinite;
        }
      }
    }
  }
}
