.blogHeroSection {
  display: flex;
  align-items: center;
  gap: 4.6rem;
  padding: 4rem 0rem;

  @media only screen and (max-width: 1000px) {
    gap: 1rem;
    & > img {
      max-width: 60%;
      height: auto;
    }
  }
  @media only screen and (max-width: 750px) {
    flex-direction: column;
    gap: 4rem;
    & > img {
      max-width: 80%;
    }
    text-align: center;
  }

  & > section {
    & > h1 {
      margin-bottom: 2.4rem;
      @media only screen and (max-width: 750px) {
        margin-bottom: 1rem;
      }
    }
  }
}
