.blogCardGrid {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 1rem;
  & > a {
    border-radius: 1rem;
    flex: 1 1 calc(33.3% - 1rem);
    @media only screen and (max-width: 1000px) {
      flex: 1 1 calc(50% - 1rem);
    }
    @media only screen and (max-width: 750px) {
      flex: 1 1 calc(100% - 1rem);
    }
  }
}
