.blogDataDisplay {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.25rem;
  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }

  & > section {
    width: 14.875rem;
    @media only screen and (max-width: 550px) {
      display: none;
    }
  }
  & > blockquote {
    display: none;
    @media only screen and (max-width: 550px) {
      display: block;
    }
  }
  & > div {
    width: calc(100% - 15.875rem);
    @media only screen and (max-width: 550px) {
      width: 100%;
      margin-bottom: 1.875rem;
    }
  }
}
