.blogHeroSection {
  display: flex;
  align-items: center;
  gap: 2.875rem;
  padding: 2.5rem 0rem;

  @media only screen and (max-width: 1000px) {
    gap: 0.625rem;
    & > img {
      max-width: 60%;
      height: auto;
    }
  }
  @media only screen and (max-width: 750px) {
    flex-direction: column;
    gap: 2.5rem;
    & > img {
      max-width: 80%;
    }
    text-align: center;
  }

  & > section {
    & > h1 {
      margin-bottom: 1.5rem;
      @media only screen and (max-width: 750px) {
        margin-bottom: 0.625rem;
      }
    }
  }
}
